@import "tailwindcss";

@theme {
  --color-bg-black: #141415;
  --color-bg-gray: #1e1e1f;
  --color-body-white: #e0e0e1;
  --color-light-gray: #b7b7b8;
  --color-red: #ffb0ad;
  --color-blue: #addcff;
  --color-yellow: #ffee99;

  --color-gray: #98989a;
  --color-orange: #ff9230;
  --color-green: #30d158;
  --color-mint: #00dac3;
  --color-cyan: #3cd3fe;
  --color-indigo: #6d7cff;
  --color-purple: #db34f2;

  --height-trim: calc((1em - 1lh) / 2);
}

body {
  color: var(--color-body-white);
  background-color: var(--color-bg-black);
}

p,
h1,
h2,
h3,
h4,
h5,
.height-trim {
  &::before,
  &::after {
    content: "";
    display: block;
    inline-size: 0;
    block-size: 1px;
  }
  &::before {
    margin-block-end: var(--height-trim);
  }
  &::after {
    margin-block-start: var(--height-trim);
  }
}

.news-content,
.works-content,
.articles-content {
  @apply max-w-none;
  * {
    color: var(--color-body-white);
  }
  > *:first-child {
    @apply mt-0;
  }
  > *:last-child {
    @apply mb-0;
  }
  p {
    @apply mb-8 text-justify text-sm leading-[1.75] md:text-base;
  }
  a {
    @apply underline;
  }
  h3 {
    @apply mb-4 text-base font-bold md:text-lg;
  }
  h4 {
    @apply mb-4 text-sm font-bold md:text-base;
  }
  figure {
    @apply mx-auto mb-8 w-full max-w-135;
  }
  figcaption {
    @apply mt-2 text-sm text-light-gray opacity-75 md:text-base;
  }
  span.large {
    @apply text-lg md:text-xl;
  }
  hr {
    @apply my-8;
  }
  ul,
  ol {
    @apply mb-8 list-outside ps-4 pl-0 text-sm md:text-base;
  }
  ul li,
  ol li {
    @apply mb-8 ps-0;
  }
  *::marker {
    @apply font-bold text-body-white;
  }
  ul li p,
  ol li p {
    @apply mt-2 mb-4;
  }
  div:has(iframe) {
    @apply mb-8;
  }
}

.works-content,
.articles-content {
  h3 {
    @apply before:content-['-_'];
    &::before {
      display: inline;
    }
  }
  blockquote {
    @apply mb-8 border p-4 font-normal not-italic;
    h3::before,
    p::before {
      content: "";
    }
    > *:first-child {
      @apply mt-0;
    }
    > *:last-child {
      @apply mb-0;
    }
  }
}

.articles-content {
  blockquote {
    @apply rounded-md bg-bg-gray;
  }
  h3 {
    @apply mt-16 mb-8 border-b-2 pb-2 leading-none before:content-['◆'];
    &::before {
      display: inline;
    }
  }
  .interviewer {
    @apply text-light-gray before:content-['──_'];
  }
  .custom-red {
    @apply text-red;
  }
  .custom-yellow {
    @apply text-yellow;
  }
  .custom-blue {
    @apply text-blue;
  }
  .custom-gray {
    @apply text-light-gray;
  }
}
