@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #ffffff;
  background-color: #0f0f0f;
}

p {
  @apply leading-[1.75];
}

.news-content,
.works-content,
.articles-content {
  @apply max-w-none;
  * {
    color: #ffffff;
  }
  > *:first-child {
    @apply mt-0;
  }
  > *:last-child {
    @apply mb-0;
  }
  p {
    @apply mb-8 text-justify;
  }
  h3 {
    @apply mb-2 text-base font-bold md:text-lg;
  }
  h4 {
    @apply mb-2 text-sm font-bold md:text-base;
  }
  figure {
    @apply mx-auto mb-8 w-full max-w-[540px];
  }
  p:has(span.caption) {
    @apply mx-auto -mt-6 w-full max-w-[540px] opacity-75;
  }
  p:has(span.large) {
    @apply text-lg md:text-xl;
  }
  hr {
    @apply my-8;
  }
  ul,
  ol {
    @apply mb-8 list-outside pl-0 ps-4;
  }
  ul li,
  ol li {
    @apply mb-8 ps-0;
  }
  *::marker {
    @apply font-bold;
    color: #ffffff;
  }
  ul li p,
  ol li p {
    @apply mb-4 mt-2;
  }
  div:has(iframe) {
    @apply mb-8;
  }
}

.works-content,
.articles-content {
  h3:before {
    content: "- ";
  }
  blockquote {
    @apply mb-8 border p-4 font-normal not-italic;
    h3:before,
    p:before {
      content: none;
    }
    > *:first-child {
      @apply mt-0;
    }
    > *:last-child {
      @apply mb-0;
    }
  }
}
