@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #ffffff;
  background-color: #0f0f0f;
}

.news-content,
.works-content {
  @apply max-w-none;
}

.news-content *,
.works-content * {
  color: #ffffff;
}

.news-content p,
.works-content p {
  @apply mb-8 text-justify leading-relaxed;
}

.news-content figure,
.works-content figure {
  @apply mx-auto mb-8 w-full max-w-[540px];
}

.news-content hr,
.works-content hr{
  @apply my-8;
}

.works-content h3 {
  @apply mb-2 text-base font-bold md:text-lg;
}

.works-content h3:before {
  content: "- ";
}

.works-content blockquote {
  @apply mb-8 border p-4 not-italic;
}

.works-content blockquote h3:before,
.works-content blockquote p:before {
  content: none;
}

.works-content blockquote > *:first-child {
  @apply mt-0;
}

.works-content blockquote > *:last-child {
  @apply mb-0;
}
