@import "tailwindcss";

@theme {
  --color-bg-black: #141415;
  --color-bg-gray: #1e1e1f;
  --color-body-white: #e0e0e1;

  --color-gray: #98989a;
  --color-light-gray: #b7b7b8;

  --color-blue: #47a3ff;
  --color-green: #47d76b;
  --color-yellow: #ffe45c;
  --color-red: #ff7570;
  --color-purple: #a98de2;
  --color-orange: #ffb370;
  --color-pink: #ff99aa;
}

body {
  color: var(--color-body-white);
  background-color: var(--color-bg-black);
}

p,
h1,
h2,
h3,
h4,
h5,
li,
.trim-text-both {
  text-box-trim: trim-both;
}

.news-content,
.works-content,
.articles-content {
  @apply max-w-none;
  * {
    color: var(--color-body-white);
  }
  > *:first-child {
    @apply mt-0;
  }
  > *:last-child {
    @apply mb-0;
  }
  p,
  li,
  figcaption {
    @apply text-sm md:text-base;
  }
  p,
  li,
  h2,
  h3,
  h4 {
    @apply leading-[1.75];
  }
  h2,
  h3,
  h4 {
    @apply font-bold;
  }
  p {
    @apply mb-8;
  }
  a {
    @apply underline;
  }
  figure {
    @apply mx-auto mb-8 w-full max-w-135;
  }
  figcaption {
    @apply mt-2 mb-0 text-light-gray;
  }
  hr {
    @apply my-8;
  }
  ul,
  ol {
    @apply mb-8;
  }
  ul {
    @apply ml-4 list-disc;
  }
  ol {
    @apply ml-5 list-decimal;
  }
  li {
    @apply mb-4;
  }
  div:has(iframe) {
    @apply mb-8;
  }
  p:has(span.note-title) {
    @apply mb-4 font-bold;
  }
  blockquote {
    @apply mb-8 border p-4 font-normal not-italic;
    > *:first-child {
      @apply mt-0;
    }
    > *:last-child {
      @apply mb-0;
    }
  }
}

.news-content {
  h2 {
    @apply mb-4 text-sm md:text-base;
  }
}

.works-content {
  h2 {
    @apply mb-4 text-base before:content-['-_'] md:text-lg;
  }
  h3 {
    @apply mb-4 text-sm md:text-base;
  }
}

.articles-content {
  h2 {
    @apply mt-16 mb-8 border-b-2 pb-2 before:content-['◆'];
  }
  h3 {
    @apply mt-16 mb-8 text-base before:content-['-_'] md:text-lg;
  }
  h4 {
    @apply mb-4 text-sm md:text-base;
  }
  blockquote {
    @apply rounded-md bg-bg-gray;
  }
  .interviewer {
    @apply text-light-gray before:content-['──_'];
  }
  .custom-gray {
    @apply text-gray;
  }
  .custom-light-gray {
    @apply text-light-gray;
  }
  .custom-blue {
    @apply text-blue;
  }
  .custom-green {
    @apply text-green;
  }
  .custom-yellow {
    @apply text-yellow;
  }
  .custom-red {
    @apply text-red;
  }
  .custom-purple {
    @apply text-purple;
  }
  .custom-orange {
    @apply text-orange;
  }
  .custom-pink {
    @apply text-pink;
  }
}
