@import "tailwindcss";

@theme {
  --color-bg-black: #141415;
  --color-bg-gray: #1e1e1f;
  --color-body-white: #e0e0e1;

  --color-gray: #98989a;
  --color-light-gray: #b7b7b8;

  --color-blue: #47a3ff;
  --color-green: #47d76b;
  --color-yellow: #ffe45c;
  --color-red: #ff7570;
  --color-purple: #a98de2;
  --color-orange: #ffb370;
  --color-pink: #ff99aa;
}

body {
  color: var(--color-body-white);
  background-color: var(--color-bg-black);
}

p,
h1,
h2,
h3,
h4,
h5,
li,
.trim-text-both {
  text-box-trim: trim-both;
}

.news-content,
.works-content,
.articles-content {
  @apply max-w-none;
  * {
    color: var(--color-body-white);
  }
  > *:first-child {
    @apply mt-0;
  }
  > *:last-child {
    @apply mb-0;
  }
  p {
    @apply mb-8 text-justify text-sm leading-[1.75] md:text-base;
  }
  a {
    @apply underline;
  }
  h3 {
    @apply mb-4 text-justify text-base font-bold md:text-lg;
  }
  h4 {
    @apply mb-4 text-justify text-sm font-bold md:text-base;
  }
  figure {
    @apply mx-auto mb-8 w-full max-w-135;
  }
  figcaption {
    @apply mt-2 text-sm text-light-gray opacity-75 md:text-base;
  }
  span.large {
    @apply text-lg md:text-xl;
  }
  span.extra-large {
    @apply text-3xl md:text-5xl;
  }
  span.xx-large {
    @apply text-6xl md:text-8xl;
  }
  hr {
    @apply my-8;
  }
  ul,
  ol {
    @apply mb-8 list-outside ps-4 pl-0 text-sm md:text-base;
  }
  ul li,
  ol li {
    @apply mb-8 ps-0;
  }
  *::marker {
    @apply font-bold text-body-white;
  }
  ul li p,
  ol li p {
    @apply mt-2 mb-4;
  }
  div:has(iframe) {
    @apply mb-8;
  }
}

.works-content,
.articles-content {
  h3 {
    @apply before:content-['-_'];
  }
  blockquote {
    @apply mb-8 border p-4 font-normal not-italic;
    h3::before,
    p::before {
      content: "";
    }
    > *:first-child {
      @apply mt-0;
    }
    > *:last-child {
      @apply mb-0;
    }
  }
}

.articles-content {
  blockquote {
    @apply rounded-md bg-bg-gray;
  }
  h3 {
    @apply mt-16 mb-8 border-b-2 pb-2 before:content-['◆'];
  }
  .interviewer {
    @apply text-light-gray before:content-['──_'];
  }
  .custom-gray {
    @apply text-gray;
  }
  .custom-light-gray {
    @apply text-light-gray;
  }
  .custom-blue {
    @apply text-blue;
  }
  .custom-green {
    @apply text-green;
  }
  .custom-yellow {
    @apply text-yellow;
  }
  .custom-red {
    @apply text-red;
  }
  .custom-purple {
    @apply text-purple;
  }
  .custom-orange {
    @apply text-orange;
  }
  .custom-pink {
    @apply text-pink;
  }
}
